<!DOCTYPE html>

<html>
<head>
    <title>Repair Shop Calendar App</title>

    <!--Import Bootstrap si Font Awesome Icons-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md offset-md text-center" style="background-color: white; margin-top: 25px; padding: 20px;">
                {{{body}}}
            </div>
        </div>
    </div>    
</body>
</html>